@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.general_div_style {
    @apply border-2 border-black px-5 py-2.5;
}

@media (max-width: 700px) {
    .left_nav {
        @apply hidden;
    }

    .main_content {
        @apply w-full;
    }

    .mobile_nav_button {
        @apply block;
    }
}